h4 {
	font-family: sans-serif;
}

h6 {
	font-family: sans-serif;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 9px 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 18px;
}